* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;

	background:transparent;

	font-family:inherit;
	text-decoration:none;
	outline:none;
}

ol, ul, li {
	display:block;

	list-style:none;
}

table {
	border-spacing:0;
	border-collapse: collapse;
}

a img {
	border: none;
}

button, a {
	cursor: pointer;

	color: inherit;
}

textarea {
	resize: none;
}

button, input, textarea, select {
	appearance: none !important;
	-webkit-appearance: none !important;
	
	border-radius: 0;
}

body {
	background-color: #bfcde0;
}

#root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	height: 100vh;

}

#root div {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 25%;
	height: 20vw;
	min-width: 150px;
	max-width: 300px;

	margin: 15px;
	border: calc(2px + 0.2vw) solid #000505;
	border-radius: 2vw;

	font-family: 'DM Sans', sans-serif;
	font-size: calc(30px + 6vw);
	color: #fefcfd;
	text-shadow: 3px 3px 10px rgba(0, 5, 5, 0.7);
	
	background-image: linear-gradient(160deg, #5d5d81 10%, #3b3355 90%);
	box-shadow: 8px 8px 15px rgba(254, 252, 253, 0.6);

	transform: scale(1);
	transition: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 30ms;
	cursor: pointer;
}

#root div:hover {
	transform: scale(0.95);
}